# Template Parameters:
#
# NAMESPACE=${NAMESPACE}
# COMMENT=${COMMENT}
# ROLE_KIND=${ROLE_KIND}
# ROLE_NAME=${ROLE_NAME}
# ROLE_BINDING_KIND=${ROLE_BINDING_KIND}
# ROLE_BINDING_NAME=${ROLE_BINDING_NAME}
#
apiVersion: rbac.authorization.k8s.io/v1
kind: ${ROLE_KIND}
metadata:
  name: ${ROLE_NAME}
  ${COMMENT}namespace: ${NAMESPACE}
  labels:
    clickhouse.altinity.com/chop: ${OPERATOR_VERSION}
rules:

  #
  # Base group-less resources
  #

  - apiGroups:
      - ""
    resources:
      - configmaps
      - services
      - persistentvolumeclaims
      - secrets
    verbs:
      - get
      - list
      - patch
      - update
      - watch
      - create
      - delete
  - apiGroups:
      - ""
    resources:
      - endpoints
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
  - apiGroups:
      - ""
    resources:
      - persistentvolumes
    verbs:
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
      - list
      - patch
      - update
      - watch
      - delete
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - list

  #
  # apps.* resources
  #

  - apiGroups:
      - apps
    resources:
      - statefulsets
    verbs:
      - get
      - list
      - patch
      - update
      - watch
      - create
      - delete
  - apiGroups:
      - apps
    resources:
      - replicasets
    verbs:
      - get
      - patch
      - update
      - delete
  # The operator deployment personally, identified by name
  - apiGroups:
      - apps
    resources:
      - deployments
    resourceNames:
      - clickhouse-operator
    verbs:
      - get
      - patch
      - update
      - delete

  #
  # policy.* resources
  #

  - apiGroups:
      - policy
    resources:
      - poddisruptionbudgets
    verbs:
      - get
      - list
      - patch
      - update
      - watch
      - create
      - delete

  #
  # apiextensions
  #

  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - get
      - list

  #
  # The operator's specific Custom Resources
  #

  # clickhouse - related resources
  - apiGroups:
      - clickhouse.altinity.com
    resources:
      - clickhouseinstallations
    verbs:
      - get
      - list
      - watch
      - patch
      - update
      - delete
  - apiGroups:
      - clickhouse.altinity.com
    resources:
      - clickhouseinstallationtemplates
      - clickhouseoperatorconfigurations
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - clickhouse.altinity.com
    resources:
      - clickhouseinstallations/finalizers
      - clickhouseinstallationtemplates/finalizers
      - clickhouseoperatorconfigurations/finalizers
    verbs:
      - update
  - apiGroups:
      - clickhouse.altinity.com
    resources:
      - clickhouseinstallations/status
      - clickhouseinstallationtemplates/status
      - clickhouseoperatorconfigurations/status
    verbs:
      - get
      - update
      - patch
      - create
      - delete

  # clickhouse-keeper - related resources
  - apiGroups:
      - clickhouse-keeper.altinity.com
    resources:
      - clickhousekeeperinstallations
    verbs:
      - get
      - patch
      - update
      - delete
      - list
      - watch
  - apiGroups:
      - clickhouse-keeper.altinity.com
    resources:
      - clickhousekeeperinstallations/finalizers
    verbs:
      - update
  - apiGroups:
      - clickhouse-keeper.altinity.com
    resources:
      - clickhousekeeperinstallations/status
    verbs:
      - get
      - update
      - patch
      - create
      - delete
---
# Setup ClusterRoleBinding between ClusterRole and ServiceAccount.
# ClusterRoleBinding is namespace-less and must have unique name
apiVersion: rbac.authorization.k8s.io/v1
kind: ${ROLE_BINDING_KIND}
metadata:
  name: ${ROLE_BINDING_NAME}
  ${COMMENT}namespace: ${NAMESPACE}
  labels:
    clickhouse.altinity.com/chop: ${OPERATOR_VERSION}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ${ROLE_KIND}
  name: ${ROLE_NAME}
subjects:
  - kind: ServiceAccount
    name: clickhouse-operator
    namespace: ${NAMESPACE}
