apiVersion: "clickhouse.altinity.com/v1"
kind: "ClickHouseInstallation"
metadata:
  name: "settings-tilde"
spec:
  configuration:
    users:
      test/password: qwerty
      test/networks/ip:
        - "127.0.0.1/32"
        - "192.168.74.1/24"
        - ~
    clusters:
      - name: "standard"
        layout:
          shardsCount: 1
          replicasCount: 1
